@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-image: url('Yusuf.JPG');
    background-position: center center;
    height: 100% ;
    font-family: 'Playpen Sans';
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0%;
    overflow: hidden;
}  
body {
    color: black
    
}
h1 {
    color: purple; background-color: rgba(255, 255, 255, 0.527);
}
h1{
    font-weight:normal ;
    font-size: 60px;
    margin: -10px 0 40px;
}
.countdown {
    display: flex;
    
    transform: scale(1);
}
.time {
    display: flex;
    color: forestgreen; background-color: rgba(255, 255, 255, 0.527);
    flex-direction: flex;
    align-items: center;
    text-align: justify;
justify-content: center;
margin: 15px;
}


